input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="file"] {
  @apply text-sm text-(--text)/70 file:cursor-pointer inline-flex items-center p-1;

  line-height: normal;
}

input[type="file"]::file-selector-button {
  all: unset;
  @apply mr-3 px-2 py-0 h-full text-xs font-medium rounded border-0 
  bg-(--line) text-(--text) transition-colors 
  hover:bg-(--accent) hover:text-white;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input,
select {
  all: unset;
  @apply px-1.5 border-0 outline-1 outline-(--line) text-sm py-0.5
  flex items-center;

  &:focus {
    @apply outline-(--accent);
  }
}
