@import "tailwindcss";

:root {
  --primary-dark: var(--color-gray-950);
  --accent-dark: var(--color-blue-600);
  --text-dark: var(--color-gray-300);
  --heading-dark: var(--color-white);
  --line-dark: color-mix(in oklab, var(--color-white) 10%, transparent);

  --primary-light: var(--color-white);
  --accent-light: var(--color-blue-600);
  --text-light: var(--color-gray-700);
  --heading-light: var(--color-gray-950);
  --line-light: color-mix(in oklab, var(--color-gray-950) 5%, transparent);

  --primary: var(--primary-dark);
  --accent: var(--accent-dark);
  --text: var(--text-dark);
  --heading: var(--heading-dark);
  --line: var(--line-dark);
}

* {
  font-family: "Inter", sans-serif;
  color: var(--text);
}

body {
  background-color: var(--primary);
}

h1,
h2,
h3,
h4,
h6,
h7 {
  color: var(--heading);
  font-weight: bold;
}

a,
p,
span {
  color: var(--text);
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}
