@import "tailwindcss";
@import "@/assets/css/utils.css";
@import "@/assets/css/inputs.css";
@import "@/assets/css/buttons.css";
@import "@/assets/css/styles.css";

:root {
  --primary: var(--color-gray-950);
  --text: var(--color-gray-300);
  --heading: var(--color-white);
  --line: color-mix(in oklab, var(--color-white) 10%, transparent);

  --accent: var(--color-blue-600);
  --destruct: var(--color-red-500);

  --bg-warning: color-mix(in oklab, var(--color-amber-500) 10%, transparent);
  --line-warning: color-mix(in oklab, var(--color-amber-500) 20%, tarnsparent);
  --text-warning: var(--color-amber-400);

  --bg-danger: color-mix(in oklab, var(--color-rose-500) 10%, transparent);
  --line-danger: color-mix(in oklab, var(--color-rose-500) 20%, transparent);
  --text-danger: var(--color-rose-400);

  --bg-success: color-mix(in oklab, var(--color-emerald-500) 10%, transparent);
  --line-success: color-mix(
    in oklab,
    var(--color-emerald-500) 20%,
    transparent
  );
  --text-success: var(--color-emerald-400);

  --bg-info: color-mix(in oklab, var(--color-blue-500) 10%, transparent);
  --line-info: color-mix(in oklab, var(--color-blue-500) 20%, transparent);
  --text-info: var(--color-blue-400);

  --bg-disabled: color-mix(in oklab, var(--color-neutral-500) 10%, transparent);
  --line-disabled: color-mix(
    in oklab,
    var(--color-neutral-500) 10%,
    transparent
  );
  --text-disabled: var(--color-neutral-500);
}

[data-theme="light"] {
  --primary: var(--color-white);
  --text: var(--color-gray-700);
  --heading: var(--color-gray-950);
  --line: color-mix(in oklab, var(--color-gray-950) 20%, transparent);

  --bg-warning: color-mix(in oklab, var(--color-amber-700) 10%, transparent);
  --line-warning: color-mix(in oklab, var(--color-amber-700) 20%, tarnsparent);
  --text-warning: var(--color-amber-600);

  --bg-danger: color-mix(in oklab, var(--color-rose-700) 10%, transparent);
  --line-danger: color-mix(in oklab, var(--color-rose-700) 20%, transparent);
  --text-danger: var(--color-rose-600);

  --bg-success: color-mix(in oklab, var(--color-emerald-700) 10%, transparent);
  --line-success: color-mix(
    in oklab,
    var(--color-emerald-700) 20%,
    transparent
  );
  --text-success: var(--color-emerald-600);

  --bg-info: color-mix(in oklab, var(--color-blue-700) 10%, transparent);
  --line-info: color-mix(in oklab, var(--color-blue-700) 20%, transparent);
  --text-info: var(--color-blue-600);
}

* {
  font-family: "Inter", sans-serif;
  color: var(--text);
}

body {
  background-color: var(--primary);
}

h1,
h2,
h3,
h4,
h6,
h7 {
  color: var(--heading);
  font-weight: bold;
}

a,
p,
span {
  color: var(--text);
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

a {
  @apply group-hover:text-(--accent) cursor-pointer;

  &:hover {
    color: var(--accent);
  }
}
